/* !===== header ===== */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 50px 40px 20px 40px;
    box-sizing: border-box;
    z-index: 999;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
}

header nav ul li a{
    min-width: 20px;
}

header nav ul li a img{
    width: 100%;
    opacity: 0.8;
}

header .logo_box{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
}

header .logo_box img {
    min-width: 334px;
    width: 100%;
}

.header_container.fix{
    background-color: #222;
}

.header_container.fix .logo_box{
    max-width: 500px;
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}




/* !===== footer ===== */
footer{
    margin: 200px 0 0 0 ;
    background-color: #222;
    color: #fff;
    font-family: 'Pretendard-Regular';
}

footer .news_letter{
    border-bottom: 2px solid #fff;
}

footer .news_letter .wrap{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    text-align: center;
}

footer .news_letter .wrap .img_box{
    max-width: 60px;
    width: 100%;
    margin: 0 auto 40px auto;
}

footer .news_letter .wrap .img_box img{
    width: 100%;
}

footer .news_letter .wrap h3{
    margin: 0 0 50px 0;
    font-size: 34px;
}

footer .news_letter .wrap .input{
    max-width: 517px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #fff;
}

footer .news_letter .wrap .input > input,
footer .news_letter .wrap .input > button{
    font-size: 18px;
    font-family: 'Pretendard-Regular';
}

footer .news_letter .wrap .input > input{
    width: 80%;
}

footer .news_letter .wrap .input > button{
    cursor: pointer;
}

footer .service{
    font-size: 14px;
    font-weight: 100;
    border-bottom: 2px solid #fff;
}

footer .service .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
} 

footer .service .wrap ul li.service_tit{
    margin: 0 0 20px 0;
    font-family: 'Pretendard-Medium';
}

footer .service .wrap ul li:not(:first-child){
    margin: 0 0 15px 0;
    font-family: 'Pretendard-Light';
}

footer .service .wrap ul.language select{
    width: 330px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

footer .service .wrap ul.language select option{
    background-color: #222;
}

footer .info .wrap{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
}

footer .info .wrap div > p{
    padding: 0 0 10px 0;
    font-size: 14px;
    font-family: 'Pretendard-Light';
    color: #fff;
}

footer .info .wrap .sns{
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

footer .info .wrap .sns a.img_box{
    max-width: 35px;
    width: 100%;
}

footer .info .wrap .sns a.img_box img{
    width: 100%;
}

footer .footer_logo{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

footer .footer_logo img{
    width: 100%;
}