/* !===== font ===== */
@font-face {
    font-family: "MrEavesXLMod";
    font-weight: 100;
    src: url("../font/MrEavesXLModOT-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* !===== header ===== */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 50px 40px 20px 40px;
    box-sizing: border-box;
    z-index: 999;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:30px;
}

header nav ul li a{
    min-width: 20px;
}

header nav ul li a img{
    width: 100%;
    opacity: 0.8;
}

header .logo_box{
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
}

header .logo_box img {
    min-width: 334px;
    width: 100%;
}

.header_container.fix{
    background-color: #222;
}

.header_container.fix .logo_box{
    max-width: 500px;
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}




/* !===== footer ===== */
footer{
    margin: 200px 0 0 0 ;
    background-color: #222;
    color: #fff;
}

footer .news_letter_container{
    border-bottom: 2px solid #fff;
}

footer .news_letter{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    box-sizing: border-box;
    text-align: center;
}

footer .news_letter .img_box{
    max-width: 60px;
    width: 100%;
    margin: 0 auto 40px auto;
}

footer .news_letter .img_box img{
    width: 100%;
}

footer .news_letter h3{
    margin: 0 0 50px 0;
    font-size: 34px;
    font-family: 'Pretendard-Regular';
}

footer .news_letter .news_letter_input{
    max-width: 517px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}

footer .news_letter .news_letter_input input,
footer .news_letter .news_letter_input button{
    font-size: 18px;
    font-family: 'Pretendard-Regular';
}

footer .news_letter .news_letter_input input{
    width: 80%;
}

footer .news_letter .news_letter_input button{
    cursor: pointer;
}