h2, p{
    color: #222;
}

/* !===== main visual ===== */
section.main_visual video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}




/* !===== collection ===== */
section.collection{
    margin: 200px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

section.collection .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

section.collection .wrap div{
    position: relative;
}

section.collection .wrap div img{
    width: 100%;
}

section.collection .wrap div a{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 26px;
    font-family: 'Pretendard-Regular';
    color: #fff;
}

section.collection .wrap div a::after{
    display:block;
    content: '';
    border-bottom: 2px solid #fff;  
    transform: scaleX(0); 
    transition: transform 300ms ease-in-out;
    transform-origin:  0% 50%;
}

section.collection .wrap div:hover a::after{
    transform: scaleX(1); 
}



/* !===== what's new ===== */
section.whats_new{
    display: flex;
    justify-content: space-between;
    gap:120px;
    margin: 200px 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

section.whats_new .txt_btn_wrap{
    position: relative;
    flex:1;
}


section.whats_new .txt_btn_wrap .tit_box h2{
    margin: 0 0 20px 0;
    font-size: 64px;
    font-family: "MrEavesXLMod-B";
}

section.whats_new .txt_btn_wrap .tit_box p{
    font-size: 32px;
    line-height: 1.3;
}

section.whats_new .txt_btn_wrap .btn_box{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 99;
}

section.whats_new .txt_btn_wrap .btn_box .swiper-pagination{
    position: static;
    bottom: 0;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Pretendard-Regular';
}

section.whats_new .txt_btn_wrap .btn_box .swiper-button-next::after,
section.whats_new .txt_btn_wrap .btn_box .swiper-button-prev::after{
    display: none;
}

section.whats_new .txt_btn_wrap .btn_box .swiper-button-next,
section.whats_new .txt_btn_wrap .btn_box .swiper-button-prev{
    max-width: 14px;
}

section.whats_new .txt_btn_wrap .btn_box .swiper-button-next > img,
section.whats_new .txt_btn_wrap .btn_box .swiper-button-prev > img{
    width: 100%;
}

section.whats_new .whats_new_swiper{
    flex: 3;
}



/* !===== gift ===== */
section.gift{
    margin: 200px 0;
}

section.gift .tit_box{
    display: flex;
    align-items: center;
    gap:50px;
    padding: 0 20px;
    box-sizing: border-box;
}

section.gift .tit_box h2{
    margin: 0 0 20px 0;
    font-size: 64px;
    font-family: "MrEavesXLMod-B";
}

section.gift .tit_box p{
    font-size: 32px;
    line-height: 1.3;
    padding: 0 0 15px 0;
}

section.gift .marquee_box{
    display: flex;
    gap: 20px;
    overflow: hidden;
}

section.gift .marquee{
    display: flex;
    justify-content: flex-start;
    gap:20px;
}

section.gift .marquee .txt_img_box{
    position: relative;
    width: 33%;
    min-width: 300px;
    cursor: pointer;
    animation: marquee 40s linear infinite;
}

section.gift .marquee_box:hover .txt_img_box{
    animation-play-state: paused;
}

section.gift .marquee .txt_img_box img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}

section.gift .marquee .txt_img_box:hover img{
    filter: none;
}

section.gift .marquee .txt_img_box span{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 26px;
    font-weight: normal;
    font-family: "MrEavesXLMod-B";
    color: #fff;
    z-index: 10;
}

section.gift .marquee .txt_img_box span::after{
    display:block;
    content: '';
    border-bottom: 2px solid #fff;  
    transform: scaleX(0); 
    transition: transform 300ms ease-in-out;
    transform-origin:  0% 50%;
}

section.gift .marquee .txt_img_box:hover span::after{
    transform: scaleX(1); 
}

@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

/* !===== gift pop up ===== */
section.popup{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
section.popup .container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 1440px;
    width: 100%;
    padding: 50px 45px;
    box-sizing: border-box;
    background-color: #fff;
}

section.popup .container .close_btn{
    width: 100%;
    text-align: right;
    cursor: pointer;
}

section.popup .container .close_btn img{
    max-width: 25px;
    width: 100%;
}

section.popup .container .img_txt_box{
    display: flex;
    align-items: center;
    gap:46px;
    padding: 30px 55px;
    box-sizing: border-box;
}

section.popup .container .img_txt_box .img_box{
    max-width: 460px;
    width: 100%;
}

section.popup .container .img_txt_box .img_box img{
    width: 100%;
}

section.popup .container .img_txt_box .txt_btn_box h3{
    margin: 0 0 35px 0;
    font-size: 46px;
    font-family: "MrEavesXLMod-B";
}

section.popup .container .img_txt_box .txt_btn_box p{
    margin: 0 0 20px 0;
    padding: 35px 0 0 0;
    box-sizing: border-box;
    border-top: 1px solid #222;
    font-size: 22px;
    line-height: 1.6;
    font-family: 'Pretendard-Light';
}

section.popup .container .img_txt_box .txt_btn_box .btn_box{
    position: relative;
    width: 100%;
}

section.popup .container .img_txt_box .txt_btn_box .btn_box button{
    position: absolute;
    top:0;
    right: 0;
    padding: 6px 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Pretendard-Regular';
    color: #222;
    cursor: pointer;
}

section.popup .container .img_txt_box .txt_btn_box .btn_box button::after{
    display:block;
    content: '';
    border-bottom: 1px solid #222;  
    transform: scaleX(0); 
    transition: transform 300ms ease-in-out;
    transform-origin:  0% 50%;
}

section.popup .container .img_txt_box .txt_btn_box .btn_box button:hover::after{
    transform: scaleX(1); 
}



/* !===== product ===== */
section.product{
    margin: 200px 0;
    padding: 0 20px;
    box-sizing: border-box;
}

section.product .tit_box .txt_box{
    margin: 0 0 62px 0;
}

section.product .tit_box .txt_box h2{
    font-size: 64px;
    font-family: "MrEavesXLMod-B";
}

section.product .tit_box .txt_box a{
    font-size: 24px;
    line-height: 1.3;
    font-family: 'Pretendard-Regular';
}

section.product .tit_box .txt_box a::after{
    display:block;
    content: '';
    border-bottom: 2px solid #222;  
    transform: scaleX(0); 
    transition: transform 300ms ease-in-out;
    transform-origin:  0% 50%;
}

section.product .tit_box .txt_box a:hover::after{
    transform: scaleX(1); 
}

section.product ul{
    display: flex;
    align-items: center;
    gap:20px;
    margin: 0 0 30px 0;
}

section.product ul > li {
    max-width: 455px;
    width: 100%;
}

section.product ul > li img{
    width: 100%;
}